<div class="top-bar" data-topbar>
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">TP IBD </li>
      <li class="has-submenu">
        <a href="#">Operações</a>
        <ul class="submenu menu vertical" data-submenu>
          <li><a href="#/cadastrar-pessoa">Pessoa</a></li>
          <li><a href="#/cadastrar-livro">Livro</a></li>
          <li><a href="#">Doação</a></li>
          <li><a href="#">Aluguel</a></li>
          <li><a href="#">Devolução</a></li>
          <li><a href="#">Multa</a></li>
        </ul>
      </li>
      <li class="has-submenu">
        <a href="#">Relatórios</a>
        <ul class="submenu menu vertical" data-submenu>
          <li><a href="#">TODO</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
